body {
    background-image: url("reg3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
form {
    background-color: white;
    border: 2px solid white;
    height: 390px;
    width: 420px;
    margin-left: 500px;
    margin-top: 150px;
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(5px) saturate(0.5);
    -webkit-background-clip:text;
}
.main {
    position: relative;
    display: flex;
    flex-direction: row;
}
.a {
    margin-left: 10px;
}
.b {
    margin-left: 60px;
}
h1 {
    margin-left: 10px;
}
.c {
    cursor: pointer;
    width: 95%;
    height: 10%;
    margin-left: 10px;
    background-color: rgb(187, 162, 177);
    border-radius: 5px;
}
input[type=submit]:hover {
    background-color: rgb(229, 184, 235);
}
.g {
    margin-left: 10px;
}
.p {
    margin-left: 80px;
}
.q {
    margin-left: 60px;
}